<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PhacoxsInjector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="PhacosInjector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PhacoxsInjector.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en-EU</value>
            </setting>
            <setting name="Help" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DirectoryRomN64" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryResult" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryRomNDS" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryBaseN64" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryBaseNDS" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryRom" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryBaseGBA" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryBaseNES" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryBaseSNES" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryRomGBA" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryRomNES" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryRomSNES" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryN64ConfigFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryImages" serializeAs="String">
                <value />
            </setting>
        </PhacoxsInjector.Properties.Settings>
        <PhacosInjector.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en-EU</value>
            </setting>
            <setting name="Help" serializeAs="String">
                <value>True</value>
            </setting>
        </PhacosInjector.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
